<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <title>拉勾网{{ company.name }}详情页</title>

    <meta content="资深前端工程师,资深前端工程师招聘,爱海企业管理咨询（上海）有限公司资深前端工程师招聘" name="keywords">

    <meta content="发展好,福利好,氛围好,环境好 虹梅路2007号6号楼3楼" name="description">

    <link href="/static/css/normalize.css" rel="stylesheet">
    <link href="/static/css/collectlist.css" rel="stylesheet">
    <link rel="Shortcut Icon" href="/static/images/favicon.ico">
    <link href="/static/css/main_delivery.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body ontouchstart="">

<header id="header">公司详情
    <div class="left"><span class="corner"></span></div>
    <div class="right">
        <span class="corner"></span>
    </div>
</header>
<div id="content">

    <div class="postitle">
        <h2 class="title">{{ company.name }}</h2>
        <div class="collicon activeable" onclick="follow()">
            <span class="icon notcoll" id="followtag"></span>
            <span class="text" id="followstatus">
                                            待订阅
                                    </span>
        </div>
    </div>
    <div class="company activeable" data-lg-tj-id="19v6" data-lg-tj-no="0030" data-lg-tj-cid="1291">
        <img src="{{ company.logo }}" alt="" class="logo">
        <div class="desc">
            <div class="dleft">
                <h2 class="title">
                    {{ company.name }}
                </h2>
                <p class="info">
                    {{ company.enterprice_type }}
                    / {{ company.finance_stage }}
                    / {{ company.enterprice_gm }}
                </p>
            </div>
            <span class="dright"></span>
        </div>
    </div>
    <div class="tab">
            <a href="#" id="base_info" onclick="show_infos()" class="tab-item selected">基本信息</a>
            <a href="#" id="position_able" onclick="show_positions()" class="tab-item">在招职位({{ position_list.count }})</a>
            <a href="#" id="enterprice" onclick="show_comments()" class="tab-item">企业空间</a>
    </div>
    <div class="positiondesc" id="product_info" style="display: block;">
        <header class="header">
            产品介绍
        </header>
        <div class="content">
            <p>{{ company.product_desc }}</p>
        </div>
    </div>
    <div class="positiondesc" id="company_info" style="display: block;">
        <header class="header">
            公司介绍
        </header>
        <div class="content">
            <p>{{ company.enterprice_desc }}</p>
        </div>
    </div>
     <ul class="list" id="zhaopin" style="display: none">
         {% for item in position_list %}
        <a href="{% url "job:job_page" item.id%}"><li class="activeable item" data-index="0">
            <img src="{{ item.enterprice.logo }}" class="item-logo">
            <div class="item-desc">
                <div class="desc-left">
                    <h2 class="item-title">{{ item.enterprice.name }}</h2>
                    <p class="item-info">
                        <span class="item-pos">
                            {{ item.name }} [ {{ item.city }} ]
                        </span>
                    </p>
                    <p class="item-time">{{ item.create_time }}</p>
                </div>
                <div class="desc-right">
                    <div class="salary">
                        {{ item.salary }}
                    </div>
                    <div class="experience">
                         <span>
                            {{ item.experience_required }}
                        </span>
                    </div>
                </div>
            </div>
        </li></a>
         {% endfor %}
    </ul>
    <div class="positioneval" id="comments" style="display: none;">
        <div class="eval-title">
            面试评价
            <span id="total">(<span>0</span>)</span>
        </div>
        <ul class="list">
            <li class="list-item-empty list-item">暂无面试评价</li>
        </ul>
        <a class="eval-all" href="#" style="display: none;"></a>
    </div>

{% include "footer.html" %}
</div>
<script type="text/javascript">
    function show_infos() {
        document.getElementById("product_info").style.display = "block";
        document.getElementById("company_info").style.display = "block";
        document.getElementById("comments").style.display = "none";
        document.getElementById("zhaopin").style.display = "none";
        document.getElementById("base_info").className="tab-item selected";
        document.getElementById("position_able").className="tab-item";
        document.getElementById("enterprice").className="tab-item";
    }
    function show_positions() {
        document.getElementById("zhaopin").style.display = "block";
        document.getElementById("comments").style.display = "none";
        document.getElementById("product_info").style.display = "none";
        document.getElementById("company_info").style.display = "none";
        document.getElementById("base_info").className="tab-item";
        document.getElementById("position_able").className="tab-item selected";
        document.getElementById("enterprice").className="tab-item";
    }
    function show_comments() {
        document.getElementById("zhaopin").style.display = "none";
        document.getElementById("product_info").style.display = "none";
        document.getElementById("company_info").style.display = "none";
        document.getElementById("comments").style.display = "block";
        document.getElementById("base_info").className="tab-item";
        document.getElementById("position_able").className="tab-item";
        document.getElementById("enterprice").className="tab-item selected";
    }
    function follow() {
        if(document.getElementById("followtag").className === "icon notcoll"){
            document.getElementById("followtag").className = "icon";
            document.getElementById("followstatus").innerHTML = "已订阅";
        }else{
            document.getElementById("followtag").className = "icon notcoll";
            document.getElementById("followstatus").innerHTML = "待订阅";
        }
    }

</script>
</body>
</html>