<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <title>【16k-30k】杏仁医生招聘资深前端工程师 - 上海人才招聘 - 拉勾网</title>

    <meta content="资深前端工程师,资深前端工程师招聘,爱海企业管理咨询（上海）有限公司资深前端工程师招聘" name="keywords">

    <meta content="发展好,福利好,氛围好,环境好 虹梅路2007号6号楼3楼" name="description">

    <link href="/static/css/normalize.css" rel="stylesheet">

    <link rel="Shortcut Icon" href="/static/images/favicon.ico">

    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body ontouchstart="">

<header id="header">职位详情
    <div class="left"><a href="{% url "job:job_list_page" %}"><span class="corner"></span></a></div>
    <div class="right">
        <a href="{% url "job:job_list_page" %}"><span class="corner"></span></a>
    </div>
</header>
<!-- 一键投递接口 -->
<div id="content">

    <div class="postitle">
        <h2 class="title">{{ job.name }}</h2>
        <div class="collicon activeable">
            <span class="icon"></span>
            <span class="text">
                                            已收藏
                                    </span>
        </div>
    </div>

    <div class="detail">
        <div class="items">
                                    <span class="item salary">
                        <em class="icon"></em>
                        <span class="text">{{ job.salary }}</span>
                    </span>
            <span class="item workaddress">
                        <em class="icon"></em>
                        <span class="text">{{ job.city }}</span>
                    </span>
            <span class="item jobnature">
                        <em class="icon"></em>
                        <span class="text">{{ job.position_type }}</span>
                    </span>
            <span class="item workyear">
                        <em class="icon"></em>
                        <span class="text">{{ job.experience_required }}</span>
                    </span>
            <span class="item education">
                        <em class="icon"></em>
                        <span class="text">
                            {{ job.degree_required }}                        </span>
                    </span>
        </div>
        <!-- 诱惑 -->
        <div class="temptation">
            职位诱惑：{{ job.attractive_desc }}
        </div>
    </div>

    <div class="company activeable" data-lg-tj-id="19v6" data-lg-tj-no="0030" data-lg-tj-cid="1291">
        <img src="{{ job.enterprice.logo }}" alt="" class="logo">
        <div class="desc">
            <div class="dleft">
                <h2 class="title">
                    {{ job.enterprice.name }}
                </h2>
                <p class="info">
                    {{ job.enterprice.enterprice_type}}
                    / {{ job.enterprice.finance_stage }}
                    / {{ job.enterprice.enterprice_gm }}
                </p>
            </div>
            <span class="dright"></span>
        </div>
    </div>

    <div class="positiondesc">
        <header class="header">
            职位描述
        </header>
        <div class="content">
            {{ job.position_desc }}
        </div>
    </div>

    <div class="positioneval">
        <div class="eval-title">
            面试评价
            <span id="total">(<span>0</span>)</span>
        </div>
        <ul class="list">
            <li class="list-item-empty list-item">暂无面试评价</li>
        </ul>
    </div>
    {% if request.user.role.name == "user" %}
    <div class="fix_btn_group">
        <div id="applybtn" class="deliver deliver_resume rows_bar" data-lg-tj-id="19v6" data-lg-tj-no="0020" data-lg-tj-cid="3824635"
             style="display: block;" onclick="applyJob()">投递简历
        </div>
    </div>
        {% else %}
        {% include "footer.html" %}
    {%  endif %}
</div>
<!-- dep -->
<script  src="/static/js/jquery.min.js"></script>
<script>
    function closeadv() {
        var obj = document.getElementById("push_bottom");
        obj.style.display = "none";

    }

    function applyJob() {
         params ={"job_id":{{ job.id }}};
        $.post('{% url "delivery:delivery_page" %}',params,function(data){
            if(data.res==0){
                $('#applybtn').text(data.errmsg);
            }else{
                $('#applybtn').text(data.success);

            }

        })
    }
</script>




</body>
</html>