<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <title>拉勾网-杏仁医生Offer信函</title>

    <meta content="资深前端工程师,资深前端工程师招聘,爱海企业管理咨询（上海）有限公司资深前端工程师招聘" name="keywords">

    <meta content="发展好,福利好,氛围好,环境好 虹梅路2007号6号楼3楼" name="description">

    <link href="/static/css/normalize.css" rel="stylesheet">
    <link href="/static/css/collectlist.css" rel="stylesheet">
    <link rel="Shortcut Icon" href="/static/images/favicon.ico">
    <link href="/static/css/main_delivery.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body ontouchstart="">

<header id="header">欢迎您加入杏仁医生
    <div class="left"><span class="corner"></span></div>
    <div class="right">
        <span class="corner"></span>
    </div>
</header>
<div id="content">
    <div class="company activeable" data-lg-tj-id="19v6" data-lg-tj-no="0030" data-lg-tj-cid="1291">
        <img src="../static/images/Cgo8PFTUWAOACCV7AABgh9p1YEg115.jpg" alt="" class="logo">
        <div class="desc">
            <div class="dleft">
                <h2 class="title">
                    李东君先生，欢迎您的加入
                </h2>
                <p class="info">
                    资深前端开发工程师
                    / 月薪:25K
                    / 上海
                </p>
            </div>
            <span class="dright"></span>
        </div>
    </div>
    <div class="positioneval" id="comments">
        <div class="eval-title">
            注意事项
            <span id="total">(<span>0</span>)</span>
        </div>
        <ul class="list">
            <li class="list-item-empty list-item">暂无面试评价</li>
        </ul>
        <a class="eval-all" href="#" style="display: none;"></a>
    </div>
    <div class="fix_commit_group">
        <div class="deliver deliver_resume rows_bar"
             style="display: block;">确认
        </div>
    </div>
    <div class="fix_cancel_group">
        <div class="deliver deliver_resume rows_bar" style="display: block;">婉拒
        </div>
    </div>
</div>
</body>
</html>