<!DOCTYPE html>
<html data-dpr="1">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>拉勾网</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.html_aio_fecea31.css">
    <link href="/static/css/common.css" rel="stylesheet">
    <link rel="Shortcut Icon" href="/static/images/favicon.ico">
    <script charset="UTF-8"></script>
</head>
<body style="font-size: 12px;">
<header id="header">招聘需求
    <div class="left"><a href="{% url "user:profile_page" %}"><span class="corner"></span></a></div>
</header>
<div class="container cleafix">
    <section class="form_container active" data-view="codeLogin">
        <header class="form_header"><h2>需求发布</h2></header>
        <form class="form_body form_register" method="post">
            <div class="input_label phone_wrapper">
                <!--
	@require "mobile/modules/country-code/main.js"
	@require "mobile/modules/country-code/main.less"
-->

                <input type="text" name="position" placeholder="请输入岗位信息" class="input_text_resume">
                <input type="text" name="degree_required" placeholder="请输入学历要求" class="input_text_resume">
                <input type="text" name="attractive_desc" placeholder="请输入职位诱惑" class="input_text_resume">
                 <select name="city" class="input_text_resume">
                     <option value=""><span class="hint_text">请选择城市</span></option>
                    <option value="上海">上海</option><option value="北京">北京</option>
                    <option value="深圳">深圳</option><option value="广州">广州</option>
                </select>
                 <select name="salary" class="input_text_resume">
                     <option value=""><span class="hint_text">请选择薪资范围</span></option>
                     <option value="3K-8K">3K-8K</option>
                     <option value="8K-14K">8K-14K</option>
                     <option value="15K-30K">15K-30K</option>
                     <option value="25K-30K">25K-30K</option>
                     <option value="30K-45K">30K-45K</option>
                     <option value="50K-100K">50K-100K</option>
                </select>
                 <select name="experience_required" class="input_text_resume">
                    <option value="应届生">应届生</option>
                    <option value="1-3年">1-3年</option>
                     <option value="3-5年">3-5年</option>
                     <option value="5-7年">5-7年</option>
                     <option value="7年以上">7年以上</option>
                     <option value="10年以上">10年以上</option>
                </select>
                <select name="position_type" class="input_text_resume">
                    <option value="全职">全职</option>
                    <option value="兼职">兼职</option>
                </select>
                <select name="effect_days" class="input_text_resume">
                     <option value=""><span class="hint_text">岗位有效期</span></option>
                    <option value="三天">三天</option>
                    <option value="一周">一周</option><option value="一个月">一个月</option>
                </select>
                <input type="text" name="position_desc" placeholder="请输入职位描述" class="input_text_resume">
            </div>
            <div class="input_label btn_group">
                <input type="submit" class="submit_btn" value="提交">
            </div>
        </form>
    </section>
</div>
<input type="hidden" id="verifyStyle" style="display: none" value="nolagou">
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script>
    function hm() {
        var obj = document.getElementById("cr_code");
        obj.style.display="block";

    }
    function pickup(obj) {
           var text = $(obj).attr("data-code");
           var dest_obj = document.getElementById("area_code");
           dest_obj.innerHTML=text;
           document.getElementById("cr_code").style.display="none";
    }

</script>
</body>
</html>