<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <title>微简历 - 拉勾网</title>

    <meta content="拉勾,拉勾网,拉勾招聘,拉钩, 拉钩网 ,互联网招聘,拉勾互联网招聘, 移动互联网招聘, 垂直互联网招聘, 微信招聘, 微博招聘, 拉勾官网, 拉勾百科,跳槽, 高薪职位, 互联网圈子, IT招聘, 职场招聘, 猎头招聘,O2O招聘, LBS招聘, 社交招聘, 校园招聘, 校招,社会招聘,社招"
          name="keywords">

    <meta content="拉勾网是3W旗下的互联网领域垂直招聘网站" name="description">

    <link href="/static/css/normalize.css" rel="stylesheet">

    <link rel="Shortcut Icon" href="/static/images/favicon.ico">

    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body ontouchstart="">

<header id="header">微简历
    <div class="left">{% if request.user.role.name == "recruiter" %}
        <a href="{% url "resume:resume_list_page" %}">
    {% else %}
        <a href="{% url "user:profile_page" %}">
    {% endif %}
        <span class="corner">
        </span>
        </a>
    </div>
    <div class="right">
        <span class="corner"></span>
    </div>
</header>
<!-- 一键投递接口 -->
<div id="content">

    <div class="postitle">



        <h2 class="title">
            {% if delivery is not None and request.user.role.name == "recruiter"%}
                申请岗位:{{ delivery.position.name }}
            {% else %}
                职称：{{ resume_data.lastest_job_position }}
            {% endif %}
        </h2>
        {% if request.user.role.name == "recruiter" %}
            <div class="collicon activeable">
                <span class="icon"></span>
                <span class="text">
                                            已收藏
                                    </span>
            </div>
        {% endif %}
    </div>

    <div class="detail">
        <div class="items">
                                    <span class="item salary">
                        <em class="icon"></em>
                        <span class="text">{{ resume_data.desire_monthly_salary }}</span>
                    </span>
            <span class="item workaddress">
                        <em class="icon"></em>
                        <span class="text">{{ resume_data.desire_city }}</span>
                    </span>
            <span class="item jobnature">
                        <em class="icon"></em>
                        <span class="text">{{ resume_data.job_type }}</span>
                    </span>
            <span class="item workyear">
                        <em class="icon"></em>
                        <span class="text">{{ resume_data.creer_time }}年</span>
                    </span>
            <span class="item education">
                        <em class="icon"></em>
                        <span class="text">
                            {{ resume_data.degree }}                        </span>
                    </span>

        </div>
        <!-- 诱惑 -->
        <div class="temptation">
            <p>自我描述：{{ resume_data.self_desc }}</p>
        </div>
    </div>

    <div class="company activeable">
        <img src="/static/images/CgotOVsDfHCAC9pmAAGCQkZqi4Y202.jpg" alt="" class="logo">
        <div class="desc">
            <div class="dleft">
                <h2 class="title">
                    {{ resume_data.name }}
                </h2>
                <p class="info">
                    {{ resume_data.school }}
                    / {{ resume_data.major }}
                    / {{ resume_data.age }}岁
                </p>
            </div>
            <span class="dright"></span>
        </div>
    </div>

    <div class="positiondesc">
        <header class="header">
            工作经历
        </header>
        <div class="content">
            <p>{{ resume_data.lastest_job_desc }}</p>
        </div>
    </div>

    <div class="positioneval">
        <div class="eval-title">
            个人熟练掌握技能
            <span id="total">(<span>{{ resume_data.speciality|length }}</span>)</span>
        </div>
        <ul class="list">
            {% for item in resume_data.speciality %}
                <li class="list-item-empty list-item">{{ forloop.counter }}.{{ item }}。</li>
            {% endfor %}
        </ul>
        <a class="eval-all" href="https://m.lagou.com/user/expsList_3824635.html" style="display: none;"></a>
    </div>
    {% if request.user.role.name == "recruiter" %}
        {% if delivery is None %}
            <a href="{% url "interview:interview_page" resume_data.id %}">
                <div class="fix_btn_group">
                    <div class="deliver deliver_resume rows_bar" style="display: block">发送面试邀请
                    </div>
                </div>

            </a>
        {% else %}
            <div class="fix_commit_group">
                <div class="deliver deliver_resume rows_bar"
                     style="display: block;">确认
                </div>
            </div>
            <div class="fix_cancel_group">
                <div class="deliver deliver_resume rows_bar" style="display: block;">婉拒
                </div>
            </div>
        {% endif %}

    {% else %}
        {% include "footer.html" %}
    {% endif %}
</div>
<!-- dep -->

<script id="tpl-list-empty" type="text/html">
    <li class="list-item-empty list-item">暂无面试评价</li>
</script>
</body>
</html>